{% extends "base.html" %}

{% block content %}
    <h1>Enviar Mensaje de Contacto</h1>
    
    <form method="POST">
        {{ form.hidden_tag() }} 

        <div>
            {{ form.nombre.label }}<br>
            {{ form.nombre() }} 
            
            {% for error in form.nombre.errors %}
                <span style="color: red; font-size: 0.9em;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <br>
        <div>
            {{ form.mensaje.label }}<br>
            {{ form.mensaje() }}
            
            {% for error in form.mensaje.errors %}
                <span style="color: red; font-size: 0.9em;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <br>
        {{ form.submit() }}
    </form>
{% endblock %}