{% extends "base.html" %}  {% block content %}
    <h1>Editar Mensaje de {{ mensaje.nombre }}</h1>
    
    <form method="POST">
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" value="{{ mensaje.nombre }}" required><br><br>

        <label for="mensaje">Mensaje:</label>
        <textarea name="mensaje" rows="4" required>{{ mensaje.mensaje }}</textarea><br><br>

        <button type="submit">Guardar Cambios</button>
    </form>
    <p><a href="{{ url_for('ver_mensajes') }}">Cancelar y volver a la lista</a></p>
{% endblock %}