<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{{ titulo }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<img src="{{ url_for('static', filename='mi_foto.jpg') }}" alt="Mi foto de perfil">

<script src="{{ url_for('static', filename='script.js') }}"></script>
<body>
    <h1>Bienvenido a mi Web de Aprendizaje</h1>
    <p>¡Esta página está siendo generada por Python usando Flask en VS Code!</p>


<nav style="margin-bottom: 20px;">
    <a href="{{ url_for('inicio') }}" class="boton-contacto">Inicio</a>

    <a href="{{ url_for('contacto') }}" class="boton-contacto">Enviar Mensaje</a>

    <a href="{{ url_for('ver_mensajes') }}" class="boton-ver-mensajes">Ver Mensajes</a>
</nav>
<p>
        <a href="/acerca">Ir a la página Acerca de</a>
    </p>
</body>
</html>